.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 12px;
    margin: 0 auto;
    box-sizing: border-box;
}

.btn-counter {
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    background-color: red;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    font-size: x-large;
    font-weight: bold;
    transition: .256s ease-in-out;
    box-shadow: 3px 3px 9px rgba(255, 0, 0, .45);
}
.btn-counter:hover {
    background-color: rgb(232, 0, 0);
}


.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}

.me-4 {
    margin-right: 4%;
}