#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.form-control {
  display: block;
  width: 100%;
  padding: .625rem;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: .425rem;
  margin: 8px 0;
}
.form-control:focus {
  outline: 0;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}