.container {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: border-box;
}

.btn {
    display: block;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: .25s ease-in-out;
    margin: 20px;
}
.btn:hover {
    transform: translateY(-2.5px) translateX(-2.5px);
}

.btn-primary {
    background-color: royalblue;
    color: #fff;
}
.btn-primary:hover {
    background-color: rgb(35, 75, 196);
    box-shadow: 4px 4px 0 rgba(35, 75, 196, .25);
}