.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 12px;
  margin: 0 auto;
  box-sizing: border-box;
  /* background-color: salmon; */
}

.form-control {
  display: inline-block;
  width: 50%;
  padding: 8px 16px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d9d9d9;
}
.form-control:focus {
  outline: 0;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.rounded {
    border-radius: .425rem;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: .425rem;
    cursor: pointer;
    transition: .25s ease-in-out;
}
.btn-outline-primary {
    background-color: #fff;
    border: 1px solid indigo;
    color: indigo;
}
.btn-outline-primary:hover {
    background-color: indigo;
    color: #fff;
}

.me-2 {
    margin-right: .425rem;
}