.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: border-box;
    /* background-color: salmon; */
}

footer {
    display: flex;
    justify-content: center;
    /* background-color: lemonchiffon; */
}

footer span.copyright {
    /* background-color: red; */
    text-align: center;
}